[submodule "sites/all/modules/custom/announcements"]
	path = sites/all/modules/custom/announcements
	url = https://github.com/ISUITC/announcements.git
[submodule "sites/all/modules/custom/ckeditor_config"]
	path = sites/all/modules/custom/ckeditor_config
	url = https://github.com/ISUITC/ckeditor_config.git
[submodule "sites/all/modules/custom/enable_ui_modules"]
	path = sites/all/modules/custom/enable_ui_modules
	url = https://github.com/ISUITC/enable_ui_modules.git
[submodule "sites/all/modules/custom/global_coreenabled"]
	path = sites/all/modules/custom/global_coreenabled
	url = https://github.com/ISUITC/global_coreenabled.git
[submodule "sites/all/modules/custom/global_otherenabled"]
	path = sites/all/modules/custom/global_otherenabled
	url = https://github.com/ISUITC/global_otherenabled.git
[submodule "sites/all/modules/custom/global_roles"]
	path = sites/all/modules/custom/global_roles
	url = https://github.com/ISUITC/global_roles.git
[submodule "sites/all/modules/custom/global_seo"]
	path = sites/all/modules/custom/global_seo
	url = https://github.com/ISUITC/global_seo.git
[submodule "sites/all/modules/custom/news"]
	path = sites/all/modules/custom/news
	url = https://github.com/ISUITC/news.git
[submodule "sites/all/modules/custom/people"]
	path = sites/all/modules/custom/people
	url = https://github.com/ISUITC/people.git
[submodule "sites/all/modules/custom/piwik_config"]
	path = sites/all/modules/custom/piwik_config
	url = https://github.com/ISUITC/piwik_config.git
[submodule "sites/all/modules/custom/pubcookie_config"]
	path = sites/all/modules/custom/pubcookie_config
	url = https://github.com/ISUITC/pubcookie_config.git
[submodule "sites/all/modules/custom/set_corevars"]
	path = sites/all/modules/custom/set_corevars
	url = https://github.com/ISUITC/set_corevars.git
[submodule "sites/all/modules/custom/solr_config"]
	path = sites/all/modules/custom/solr_config
	url = https://github.com/ISUITC/solr_config.git
[submodule "sites/all/modules/custom/biblio_config"]
	path = sites/all/modules/custom/biblio_config
	url = https://github.com/ISUITC/biblio_config.git
[submodule "sites/all/libraries/ckeditor"]
	path = sites/all/libraries/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "sites/all/libraries/flexslider"]
	path = sites/all/libraries/flexslider
	url = https://github.com/woothemes/FlexSlider
